.full{
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  filter: brightness(0.6);
  z-index: -1;
}
.full .title{
  width: 50%;
  min-width: 600px;
  background-color: var(--main);
  font-size: 30px;
  color: white;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
}
.full .title h1{
  font-weight: 300;
}
.content{
  width: 100%;
  padding: 70px 6%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.about{
  width: 40%;
}
.items{
  width: 55%;
}
.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about .titles{
  border-left: 6px solid var(--main);
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
}
.about .titles h1{
  font-size: 28px;
}
.about .titles p{
  font-size: 16px;
  margin: 0;
  color: var(--main);
  text-align: justify;
}
.about .text{
  color: var(--p);
  font-size: 16px;
  padding: 10px 6px;
}