.card{
    width: 300px;
    height: 75px;
    display: flex;
    align-items: center;
    color: rgb(32, 32, 32);
}
.card .icon{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
}
.info{
    height: 53px;
}
.info .subtitle{
    color: var(--p);
    font-size: 16px;
    margin: 0;
    font-weight: medium;
}
.info .title{
    font-size: 20px;
    font-weight: 600;
}