/* Global */
:root{
  --bg: #fff;
  --fill-btn-text: #fff;
  --main: #FD6D2C;
  --h1: #000;
  --p: #939393;
  --a: #7B7B7B;
  --title: #828282;
}
img,a{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  font-family: 'Inter', sans-serif;
  height: 100%;
}
#root,
.App{
  height: 100%;
}
button{
  border: none;
}
html, 
body {
    height: 100%;
}
h1,h2,h3,h4{
  margin: 0;
}
.flex{
  display: flex;
}
.align{
  align-items: center;
}
a{
  text-decoration: none;
  color: inherit
}
.hard_shadow{
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.123);
}
.img_container_full{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
img.contain{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
/* btn */
.btn{
  height: 65px;
  padding: 0 13px;
  min-width: 47%;
  border-radius: 12px;
  font-weight: 700;
  font-size: 28px;
  border: 7px solid var(--main);
  cursor: pointer;
}
.btn:active{
  transform: scale(0.99);
}
a:active svg{
  transition: transform 0.2s;
  transform: scale(0.96);
}
.btns{
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
}
.fill.btn{
  background-color: var(--main);
  color: white;
}
.empty.btn{
  color: var(--main);
  background-color: transparent;
}
/* Image-Layout */
.image-layout{
  width: 100%;
  height: 100vh;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* Minimal Screen */
.fullscreen,
.side-menu{
  display: none!important;
}
@media only screen and (max-width: 800px) {
  header .links{
    display: none;
  }
  header .menu-btn,
  .side-menu,
  .fullscreen{
    display: block!important;
  }
  header .title{
    font-size: 1.5em;
  } 
  header{
    height: 5%
  }
  .btn{
    margin: 0 auto;
  }
}